<html>

<head>
    <title>NOTESEVENT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

<div>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>MIMIC-III NOTEEVENTS</h3>
            </div>
            <ul class="list-unstyled components nav">
<!--                <p>Category</p>-->
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab"
                       href="Case Management"> Case Management </a>
                </li>
                <% for(let i=1;i<category.length;i++) {%>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab"
                           href="#<%= category[i]%>"
                           onclick="load_plot('<%= category[i]%>')"> <%= category[i]%> </a>
                    </li>
                <%}%>
            </ul>
        </nav>

        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
<!--                        <span>Toggle Sidebar</span>-->
                    </button>
                    <form class="form-inline" action="/search" method="get">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                               id="keyword" name="keyword">
                        <input type="submit" class="btn btn-outline-success my-2 my-sm-0"
                               value="search!" id="button"/>
                    </form>
                </div>
            </nav>

            <div id="myTableContent" class="tab-content">
                <div class="tab-pane in active" id=<%= category[0]%>>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"
                               data-toggle="tab" href="#disease_Case Management">DISEASE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#chemical_Case Management">CHEMICAL</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane in active" id="disease_Case Management">
                            <div id="chart_d_Case Management" style="width:880px; height: 600px"></div>
                        </div>
                        <div class="tab-pane fade" id="chemical_Case Management">
                            <div id="chart_c_Case Management" style="width:880px; height: 600px"></div>
                        </div>
                    </div>
                </div>
                <% for(let i=1;i<category.length;i++) {%>
                    <div class="tab-pane fade" id=<%= category[i]%>>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active"
                                   data-toggle="tab" href="#disease_<%= category[i]%>">DISEASE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab"
                                   href="#chemical_<%= category[i]%>">CHEMICAL</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane in active" id="disease_<%= category[i]%>">
                                <div id="chart_d_<%= category[i]%>" style="width:880px; height: 600px"></div>
                            </div>
                            <div class="tab-pane fade" id="chemical_<%= category[i]%>">
                                <div id="chart_c_<%= category[i]%>" style="width:880px; height: 600px"></div>
                            </div>
                        </div>
                    </div>
                <%}%>

<!--                <div class="tab-pane in active" id="Nursing/Other">-->
<!--                    <p>test1</p>-->
<!--                </div>-->
<!--                <div class="tab-pane fade" id="Nursing">-->
<!--                    <p>test2</p>-->
<!--                </div>-->

<!--                <div class="tab-pane fade" id="sc">-->
<!--                    <ul class="nav nav-tabs" id="myTab" role="tablist">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link active" data-toggle="tab" href="#sc_disease">DISEASE</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" data-toggle="tab"  href="#sc_chemical">CHEMICAL</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <div id="myTabContent" class="tab-content">-->
<!--                        <div class="tab-pane in active" id="sc_disease">-->
<!--                            <div id="d_chart_sc_d" style="width:880px; height: 600px"></div>-->
<!--                        </div>-->
<!--                        <div class="tab-pane fade" id="sc_chemical">-->
<!--                            <div id="c_chart_sc_c" style="width:880px; height: 600px"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="tab-pane fade" id="rehab">-->
<!--                    <ul class="nav nav-tabs" id="myTab" role="tablist">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link active" data-toggle="tab" href="#rehab_disease">DISEASE</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" data-toggle="tab"  href="#rehab_chemical">CHEMICAL</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <div id="myTabContent" class="tab-content">-->
<!--                        <div class="tab-pane in active" id="rehab_disease">-->
<!--                            <div id="d_chart_rehab_disease" style="width:880px; height: 600px"></div>-->
<!--                        </div>-->
<!--                        <div class="tab-pane fade" id="rehab_chemical">-->
<!--                            <div id="c_chart_rehab_chemical" style="width:880px; height: 600px"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


            </div>
        </div>
    </div>
</div>


</body>
<link href='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.css' rel="stylesheet">
<script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script>



    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

    //Medical conditions
    // function change() {
    //     var flag = $('select option:selected').val();
    //     console.log(flag);
    //     if(flag==='syn') {
    //         document.getElementById("button").disabled = false;
            new Def.Autocompleter.Search('keyword', 'https://clinicaltables.nlm.nih.gov/api/conditions/v3/search?' +
                'sf=primary_name,icd10cm_codes,term_icd9_code,synonyms' +
                '&df=primary_name,icd10cm_codes,term_icd9_code,synonyms', {
                tableFormat: true,
                valueCols: [0],
                colHeaders: ['primary_name','icd10cm_codes','term_icd9_code','synonyms']
            });
    //     } else if(flag==='icd9') {
    //         document.getElementById("button").disabled = false;
    //         new Def.Autocompleter.Search('keyword', 'https://clinicaltables.nlm.nih.gov/api/icd9cm_dx/v3/search', {
    //             tableFormat: true,
    //             valueCols: [0],
    //             colHeaders: ['icd9_ode','name']
    //         });
    //     } else if(flag==='icd10') {
    //         document.getElementById("button").disabled = false;
    //         new Def.Autocompleter.Search('keyword', 'https://clinicaltables.nlm.nih.gov/api/icd10cm/v3/search?sf=code,name', {
    //             tableFormat: true,
    //             valueCols: [0],
    //             colHeaders: ['icd10_ode', 'name']
    //         });
    //     } else {
    //         document.getElementById("button").disabled = true;
    //     }
    // }

    function load_plot(name) {
        Plotly.d3.csv("https://raw.githubusercontent.com/Ruofan00/csv/master/result_"+name+"_disease.csv",
            function(data){
               // console.log(data);
                var x = [],y=[],term=[]
                for(let i=0;i<data.length;i++) {
                    let row = data[i];
                    x.push(row['x']);
                    y.push(row['y']);
                    term.push(row['term']);
                }
              //  console.log(term);
                var dis_term = {
                    x: x,
                    y: y,
                    mode: 'markers+text',
                    type: 'scattergl',
                    name: 'Team A',
                    text: term,
                    textposition: 'top center',
                    textfont: {
                        family:  'Raleway, sans-serif'
                    },
                    marker: { size: 12 }
                };
                console.log("1")
                var d = [dis_term];

                var layout = {
                    xaxis: {
                        autorange: true,
                        range: [ -20, 20 ]
                    },
                    yaxis: {
                        autorange: true,
                        range: [-20, 20]
                    },
                    legend: {
                        y: 0.5,
                        yref: 'paper',
                        font: {
                            family: 'Arial, sans-serif',
                            size: 20,
                            color: 'grey',
                        }
                    },
                    title:'Disease terms for '+name
                };

                Plotly.newPlot('chart_d_'+name, d, layout);
            } );

        Plotly.d3.csv("https://raw.githubusercontent.com/Ruofan00/csv/master/result_"+name+"_chemical.csv",
            function(data){
              //  console.log(data);
                var x = [],y=[],term=[]
                for(let i=0;i<data.length;i++) {
                    let row = data[i];
                    x.push(row['x']);
                    y.push(row['y']);
                    term.push(row['term']);
                }
              //  console.log(term);
                var dis_term = {
                    x: x,
                    y: y,
                    mode: 'markers+text',
                    type: 'scattergl',
                    name: 'Team A',
                    text: term,
                    textposition: 'top center',
                    textfont: {
                        family:  'Raleway, sans-serif'
                    },
                    marker: { size: 12 }
                };
                console.log("1")
                var d = [dis_term];

                var layout = {
                    xaxis: {
                        autorange: true,
                        range: [ -20, 20 ]
                    },
                    yaxis: {
                        autorange: true,
                        range: [-20, 20]
                    },
                    legend: {
                        y: 0.5,
                        yref: 'paper',
                        font: {
                            family: 'Arial, sans-serif',
                            size: 20,
                            color: 'grey',
                        }
                    },
                    title:'Chemical terms for '+name
                };

                Plotly.newPlot('chart_c_'+name, d, layout);
            } );
    }

    Plotly.d3.csv("https://raw.githubusercontent.com/Ruofan00/csv/master/result_CaseManagement_disease.csv",
        function(data){
            // console.log(data);
            var x = [],y=[],term=[]
            for(let i=0;i<data.length;i++) {
                let row = data[i];
                x.push(row['x']);
                y.push(row['y']);
                term.push(row['term']);
            }
            //  console.log(term);
            var dis_term = {
                x: x,
                y: y,
                mode: 'markers+text',
                type: 'scatter',
                name: 'Team A',
                text: term,
                textposition: 'top center',
                textfont: {
                    family:  'Raleway, sans-serif'
                },
                marker: { size: 12 }
            };
            console.log("1")
            var d = [dis_term];

            var layout = {
                xaxis: {
                    autorange: true,
                    range: [ -20, 20 ]
                },
                yaxis: {
                    autorange: true,
                    range: [-20, 20]
                },
                legend: {
                    y: 0.5,
                    yref: 'paper',
                    font: {
                        family: 'Arial, sans-serif',
                        size: 20,
                        color: 'grey',
                    }
                },
                title:'Disease terms for Case Management'
            };

            Plotly.newPlot('chart_d_Case Management', d, layout);
        } );

    Plotly.d3.csv("https://raw.githubusercontent.com/Ruofan00/csv/master/result_CaseManagement_chemical.csv",
        function(data){
            //  console.log(data);
            var x = [],y=[],term=[]
            for(let i=0;i<data.length;i++) {
                let row = data[i];
                x.push(row['x']);
                y.push(row['y']);
                term.push(row['term']);
            }
            //  console.log(term);
            var dis_term = {
                x: x,
                y: y,
                mode: 'markers+text',
                type: 'scatter',
                name: 'Team A',
                text: term,
                textposition: 'top center',
                textfont: {
                    family:  'Raleway, sans-serif'
                },
                marker: { size: 12 }
            };
            console.log("1")
            var d = [dis_term];

            var layout = {
                xaxis: {
                    autorange: true,
                    range: [ -20, 20 ]
                },
                yaxis: {
                    autorange: true,
                    range: [-20, 20]
                },
                legend: {
                    y: 0.5,
                    yref: 'paper',
                    font: {
                        family: 'Arial, sans-serif',
                        size: 20,
                        color: 'grey',
                    }
                },
                title:'Chemical terms for Case Management'
            };

            Plotly.newPlot('chart_c_Case Management', d, layout);
        } );

</script>
</html>
